<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/983335a1-6811-4853-8ade-626fdc310f5b/resourceGroups/deploy-7Consulting/providers/Microsoft.Web/sites/API-Categoria</ResourceId>
    <ResourceGroup>deploy-7Consulting</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://api-categoria.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1a1aeb4a-f41d-4070-81a7-27aae81962c9</ProjectGuid>
    <PublishUrl>https://api-categoria.scm.azurewebsites.net/</PublishUrl>
    <UserName>$API-Categoria</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>